:root {
  --gray-100: #F2F2F2;
  --gray-200: #D9D9D9;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-600: #1A1A1A;
  --gray-700: #0D0D0D;

  --red-500: #E25858;

  --purple-300: #8284FA;
  --purple-500: #5E60CE;

  --blue-300: #4EA8DE;
  --blue-500: #1E6F9F;
}


*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding : 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.6;
  background: var(--gray-600);
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  cursor: pointer;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

ul {
  list-style-type: none;
}

#root, #__next {
  isolation: isolate;
}